.shipping-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 1rem;
}

.img-styling {
  width: 7rem;
  height: auto;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.postnord-container {
  height: auto;
  width: 75%;
  background-color: #333;
  border-radius: 1rem;
  margin-left: 2rem;
}

.shipping-info {
  margin-left: 1rem;
  color: whitesmoke;
}

.dhl-container {
  margin-top: 1rem;
  height: auto;
  width: 75%;
  border-radius: 1rem;
  margin-left: 2rem;
  background-color: #333;
}

.bring-container {
  margin-top: 1rem;
  height: auto;
  width: 75%;
  border-radius: 1rem;
  margin-left: 2rem;
  background-color: #333;
  margin-bottom: 1rem;
}

.input-styling {
  color: whitesmoke;
  padding-left: 2rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
  .shipping-container {
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .shipping-container {
    width: auto;
  }
}
