.navLinks {
  margin-left: 2rem;
  text-decoration: none;
  color: #333;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.cartButton {
  font-size: 1.3rem;
  margin-top: 1.1rem;
}

.navLinks:hover {
  color: #ff0000;
}

.NavBarContainer {
  display: flex;
  justify-content: center;
}

.header {
  font-family: "Cormorant Garamond", serif;
  padding-top: 1rem;
}

h3 {
  font-family: "Cormorant Garamond", serif;
}

.headerTitle {
  color: whitesmoke;
  font-size: 3rem;
  text-decoration: none;
}

.headerTitle:hover {
  color: #ff0000;
}

.paymentPageTitle {
  margin: 2rem 0 0 1rem;
}

@media screen and (max-width: 470px) {
  .headerTitle {
    font-size: 2.5rem;
  }

  .namesFooter {
    font-size: 0.7rem;
  }

  .footerStyle {
    flex-direction: column;
  }
}
@media screen and (max-width: 380px) {
  .headerTitle {
    font-size: 2rem;
  }

  .namesFooter {
    font-size: 0.7rem;
  }

  .footerStyle {
    flex-direction: column;
  }
  .cartButton {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
}
